*{
    margin: 0;
    padding: 0;
    font-style: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background-image: url("images/3.jpg");
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;

}
.card{
    width: 100%;
    max-width: 470px;
    background-color: rgba(0,0,0,0.2);
    border: 4px solid rgb(134, 110, 240);
    color: #fff;
    margin:100px auto 0;
    border-radius: 40px;
    padding: 40px 35px;
    text-align: center;
    position: absolute;
    right: 280px;
}
.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search input{
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}
.search button{
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 0px;
    height: 0px;
    cursor: pointer;
}
.search  img{
    width: 99px;
    position: relative;
    right: 98px;
    top: -27px;

}
.weather-icon{
    width: 170px;
    margin-top: 30px;
}
.weather h1{
    font-size: 80px;
    font-weight: 500;
}
.weather h2{
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px; 
}
.col{
    display: flex;
    align-items: center;
    text-align: left;
}
.col img{
    width:40px;
    margin-right: 10px;
}
.humidity{
    font-size: 28px;
    margin-top:-6px;
}
.weather{
    display: none;
}
.error{
    text-align: left;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 10px;
    display: none;
}
